*{
    font-family: "Prompt";
    text-decoration: none;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height: 100vh; */
    background-color: #041728;
}

.top{
    height: 10vh;
    display: flex;
    justify-content: center;
}
.show-branch{
    font-size: 4vh;
    color: white;
    font-weight: 500;
}



#nav {
    width: 100%;
    height: 14vh;
    display: flex;
    position: fixed;
    z-index: 10;
}

  
#nav-menu {
    background-color: #041728dc;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
    padding: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 2.5vh;
}
  
#nav-menu a {
    color: #ffffff;
    font-weight: 300;
    transition: ease-in-out 0.2s;
}
  
#nav-menu a:hover {
    text-shadow: 0px 0px 2px white;
}
  
#nav-menu p {
    color: #ffffff;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 200;
}
  
#fis {
    width: 10%;
    text-align: start;
}
  
#fis p {
    font-weight: 400;
    margin: 0;
}
  
#las {
    width: 10%;
    text-align: end;
}
  
#mid {
    display: flex;
    justify-content: center;
    width: 60%;
}
#branch-text p{
    font-size: 2.5vh;
}

/* popup */
#popup-view{
    background-color: #f5f6f8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    border-radius: 2vh;
    z-index: 1000;
    padding: 2vh;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.2s;
}
#popup-ov {
    width: 100%;
    height: 100%;
    background-color: #00000071;
    backdrop-filter: blur(5px);
    z-index: 999;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.2s;
}
#fori {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}
#bac {
    color: #041728;
    cursor: pointer;
    font-size: 2.5vh;
}
.show{
    color: #041728;
    margin: 0;
    text-align: left;
    font-size: 2.5vh;
}
.header{
    color: #B6B6B6;
    margin: 0;
    text-align: left;
    font-size: 2.5vh;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
#content h4{
    margin: 0;
    font-weight: 500;
    font-size: 2.5vh;
}
#branch-box{
    display: flex;
    width: 95.5%;
    height: auto;
    background-color: white;
    border-radius: 2vh;
    padding: 2vh;
    gap: 2vh;
}
#image{
    width: 35vh;
    height: 20vh;
    background-image: url(img/branch_1_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh;
}
#inform-box{
    display: flex;
    gap: 2vh;
    justify-content: center;
    width: 100%;
}
#left, #right{
    background-color: white;
    border-radius: 2vh;
    width: 48%;
    padding: 2vh;
    text-align: left;
    line-height: 5vh;
}
#bottom {
    width: 100%;
    margin-top: 1vh;
    text-align: right;
}
.popup-input, #edit-date-time {
    color: #041728;
    margin: 0;
    text-align: left;
    font-size: 2vh;
    width: 100%;
    max-width: 100%;
    align-self: left;
    padding: 0.5vh 1vh;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 1vh;
}

/* show user list */
.box{
    display:flex;
    /* height: 60%; */
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 2vh 2vh 2vh 2vh;
    margin-bottom: 10vh;
}
.table-content{
    padding: 10px;
    width: 100%;
    /* height: 100%; */
}

/* ตาราง */
.table-apmt{
    width: 100%;
    border: none;
    border-collapse: collapse;
    color: rgb(61, 61, 61);
    overflow: hidden;
}
table tbody {
    display: block;
    /* max-height: 50vh; */
    /* overflow-y: auto; */
}
table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.c{
    height: 7vh;
    background-color: #ffffff;
    font-size: 2vh;
    font-weight: 500;
    color: #104B82;
    text-align: start;
    border-bottom: 1px solid rgb(224, 224, 224);
}
th, td{
    text-align: start;
    width: 100%;
}
td{
    text-overflow: ellipsis;
    overflow: hidden;
}
.button-con{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-left: 2vh;
}
.info-row{
    height: 7vh;
    font-size: 2vh;
}
tr:nth-child(odd) {
    background-color: #f7f7f7;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
.view-button, .quotation-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0 1vh;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 2vh;
    transition: ease-in-out 0.2s;
}
.quotation-button:hover{
    color: rgb(0, 162, 255);
}
.view-button:hover {
    color: rgb(0, 162, 255);
}
.assign-button {
    background-color: #000000;
	color: white;
	border: none;
    border-radius: 0.5vh;
	padding: 0.5vh 0vh;
    font-size: 2vh;
    opacity: 0.6;
    transition: 0.5s;
    width: 8vh;
    margin: 0 1vh;
    cursor: pointer;
}
.assign-button:hover {
    background-color: #085e00;
}



/* quotation-popup */
#popup-quotation{
    background-color: #f5f6f8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    max-height: 80%;

    border-radius: 2vh;
    z-index: 1000;
    padding: 2vh;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.2s;

    overflow-y: auto;
    text-align: left;
}

#persona-container {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    gap: 4vh;
    width: 100%;
}
#persona {
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
}
#persona p, h4 {
    margin: 0;
}
.eachinput {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#forinput {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2vh;
}

#forinfor {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2vh;
}

#more p {
    font-size: 2vh;
    color: #B6B6B6;
}

.inp {
    height: 6vh;
    border-radius: 2vh;
    border: 0;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: white;

    width: 80%;
    /* max-width: 80%; */
    
}

.forwhatyouvedone {
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 2vh;
    padding: 2vh;
}

.show {
    color: #041728;
}

.header {
    color: #B6B6B6;
}

.header-total, #show-price-total {
    color: #F5F6F8;
}

#show-price-total {
    text-decoration: underline;
}

#total {
    width: 90%;
    height: auto;
    background-color: #104B82;
    border-radius: 1.5vh;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
}

#showdatetime {
    display: flex;
    gap: 1vh;
}


/* popup-assign */
#popup-assign{
    background-color: #f5f6f8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    border-radius: 2vh;
    z-index: 1000;
    padding: 2vh;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.2s;
}
.cancel-button, .confirm-button {
	color: white;
	border: none;
    border-radius: 1vh;
	padding: 1vh 1vh;
	cursor: pointer;
    font-size: 2.5vh;
    opacity: 0.6;
    transition: 0.5s;
    width: 14vh;
    margin: 1vh 1vh;
}
.cancel-button {
    background-color: rgb(0, 0, 0);
}
.confirm-button {
    background-color: rgb(0, 0, 0);
}
.cancel-button:hover, .confirm-button:hover {
    opacity: 1;
}











@media (max-width: 1200px){
    /* quotation-popup */
    #popup-quotation{
        width: 80%;
        height: 80%;
        overflow-y: auto;
    }
    /* buttons */
    .button-con{
        flex-direction: column;
        margin: 1vh 0;
    }
}

@media (max-width: 1000px){
    /* quotation-popup */
    #popup-quotation{
        width: 70%;
    }
    #popup-view{
        width: 80%;
        height: 70%;
        overflow-y: auto;
    }
    #persona{
        flex-direction: column;
    }
    #forinput{
        width: 100%;
    }
    #forinfor{
        width: 100%;
    }
    .inp{
        width: 100%;
    }
    #persona h4{
        margin-top: 3vh;
    }

    
}

@media (max-width: 700px) {
    #nav-menu,label, p{
        font-size: 2vh;
    }
    #popup-assign{
        width: 50%;
    }

    .box{
        height: 70%;
    }
    table tbody{
        max-height: 67vh;
    }

    /* table */
    table {
        border: 0;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: 3vh;
        border: 1px solid rgb(224, 224, 224);
    }
    table td {
        border-bottom: 1px solid #e6e6e6;
        display: block;
        font-size: 2vh;
        text-align: right;
        padding: 0.5vh 0;
        padding-right: 2vh;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        color: #104B82;
        font-weight: 500;

        padding-left: 2vh;
    }
    table td:last-child {
        border-bottom: none;
    }
    tr:nth-child(odd) {
        background-color: #f7f7f7;
    }
    tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    /* buttons */
    .button-con{
        flex-direction: row;
    }
    #action {
        float: right;
    }

    /* popup */
    .header{
        font-size: 2vh;
    }
    #content h4{
        font-size: 2vh;
    }

}

@media (max-width: 630px) {
    /* nav */
    #hid-drop {
        display: block;
        float: left;
        overflow: hidden;
    }
    #hid-drop-i {
        color: white;
    }
    #hid-drop-content {
        display: none;
        position: absolute;
        right: 8%;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 2vh;
        z-index: 10;
    }
    #hid-drop-content a {
        float: none;
        color: #041728;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-weight: 400;
    }
    #hid-drop-content a:hover {
        color: #104b82;
    }
    #popup-ov2 {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        visibility: hidden;
        z-index: 9;
    }
    #las {
        width: 20%;
        display: flex;
        gap: 10px;
        justify-content: end;
    }
    #fis {
        width: 20%;
    }
    #mid{
        width: 60%;
    }
    #branch-box {
        flex-direction: column;
        width: 78%;
        padding: 2vh;
        gap: 2vh;
    }
    #inform-box {
        flex-direction: column;
        align-items: center;
    }
    #left, #right{
        width: 85%;
    }
    #image{
        width: 100%;
        height: 15vh;
        margin: 0;
    }
    #branch-text{
        margin: 0;
    }
}


