* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #041728;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

/* เพิ่ม style สำหรับ background text */
.bg-text {
  position: absolute;
        left: -45%;
        top: 50%;
        transform: rotate(90deg) translateY(-50%) translateX(-10%);
        font-size: 350px;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.267);
        z-index: 0;
        white-space: nowrap;
        font-family: 'Montserrat', sans-serif;
        pointer-events: none;
        letter-spacing: 10px;
}
.bg-text3 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  font-size: 300px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.267); 
  z-index: -2; 
  letter-spacing: 10px;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  pointer-events: none;
}
.bg-text2 {
  position: absolute; 
        right: -45%;
        top: 28%;
        transform: rotate(-90deg) translateY(-30%) translateX(-10%) scale(-1, 1);
        
        font-size: 320px;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.267);
        z-index: 0;  
        white-space: nowrap;
        font-family: 'Montserrat', sans-serif;
        pointer-events: none;
        letter-spacing: 10px;
}

#nav {
  width: 100%;
  /* height: 14vh; */
  display: flex;
  position: fixed;
  z-index: 1000;
}
#carchoose {
  width: 100%;
  border: 0;
  border-radius: 2vh;
  padding: 1vh;
}

#nav-menu {
  background-color: #041728dc;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4vh;
  padding: 2vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 2.5vh;
  z-index: 10;
}

#nav-menu a {
  color: #ffffff;
  font-weight: 300;
  transition: ease-in-out 0.2s;
}

#nav-menu a:hover {
  text-shadow: 0px 0px 2px white;
}

#nav-menu p {
  color: #ffffff;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 200;
}

#fis {
  width: 10%;
  text-align: start;
}

#fis p {
  font-weight: 400;
  margin: 0;
}

#las {
  width: 10%;
  text-align: end;
}

#mid {
  display: flex;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/index-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#check p {
  margin: 0;
}

.maintop {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.mainbot {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 10px;
}

#area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#check {
  padding: 2vh;
  margin-bottom: 3%;
  width: 80%;
  height: auto;
  border-radius: 2vh;
  background-color: #041728a3;
  backdrop-filter: blur(10px);
  box-shadow: 2px 3px 6px #041728c3;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#sel1,
#sel2,
#sel3,
#sel4,
#car-regis {
  width: 30%;
}

.forsel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.091);
  padding-top: 15px;
  padding-bottom: 5px;
  gap: 1vh;
}

.drop {
  border: 0;
  border-radius: 2vh;
  width: 35vh;
  padding: 1vh;
}
.top {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.297);
  border-radius: 2vh;
  width: 15vh;
  padding: 1vh;
  color: white;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid white;
  color: #041728;
  background-color: white;
}

#promotion {
  width: 100%;
  height: auto;
  background-color: #f5f6f8;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

#promotion #container {
  position: relative;
  z-index: 1;
}

#container {
  margin-bottom: 12vh;
  width: 90%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.pic {
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 60vh;
  height: 50vh;
  border-radius: 2vh;
  box-shadow: 2px 2px 7px #989898;
}

.pic:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.overlay {
  background-color: #041728a3;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2vh;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0.2s;
}

.btn-p {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.297);
  border-radius: 2vh;
  width: auto;
  height: 6vh;
  padding: 1vh;
  color: white;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  margin: auto;
}

.btn-p:hover {
  border: 1px solid white;
  color: #041728;
  background-color: white;
}

#promotion h1 {
  color: #041728;
}

#popup-ov {
  width: 100%;
  height: 100%;
  background-color: #04172871;
  backdrop-filter: blur(5px);
  z-index: 11;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0.2s;
}

#popup-bg {
  background-color: #f5f6f8;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  border-radius: 2vh;
  z-index: 12;
  padding: 2vh;
  padding-bottom: 4vh;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0.2s;
}

#fori {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}

#bac {
  color: #041728;
  cursor: pointer;
}

#branch {
  position: relative;
  width: 100%;
  height: 130vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #041728;
  z-index: 2;
  overflow: hidden;
}

#branch h1 {
  color: white;
}

#branch-area {
  background-color: #f5f6f8;
  width: 60%;
  height: 25%;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

#forimg {
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 175px;
  height: 100%;
  border-radius: 2vh;
}

#branch-area h3 {
  color: #041728;
  margin: 0;
}

#branch-area p {
  margin: 0;
  color: #b6b6b6;
  font-size: 2.5vh;
}

#fortext {
  /* width: 70%; */
  height: 100%;
}

#check-result table {
  width: 100%;
  font-size: 2.5vh;
  border-bottom: 1px solid #104b82;
  text-align: start;
}

#check-result th {
  color: #104b82;
  font-weight: 400;
  text-align: start;
}

#check-result {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  gap: 2vh;
}

.btn-pop {
  background-color: transparent;
  border: 1px solid #104b82;
  border-radius: 2vh;
  width: 15vh;
  height: 6vh;
  color: #104b82;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-size: 2.5vh;
}

.btn-pop:hover {
  background-color: #104b82;
  color: white;
}

#check-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

#hid-drop {
  display: none;
}

#select-branch {
  display: flex;
  gap: 2vh;
  width: 80%;
  justify-content: center;
}
#typewriter {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  min-height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#item {
  position: relative;
  width: 100%;
  background-color: #104b82;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 1;
}

#item-container, #more {
  position: relative;
  z-index: 2;
}


#item-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  
}
.item-pic{
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 60vh;
  height: 70vh;
  border-radius: 2vh;
  box-shadow: 2px 2px 7px #0417284e;
}

#item h1{
  color: #f5f6f8;
}

#more{
  width: 90%;
  text-align: end;
  margin: 20px;
}

#more a {
  text-decoration: none;
  color: #f5f6f8;
  transition: ease-in-out 0.2s;
}

#more a:hover {
  text-shadow: 0px 0px 2px #f5f6f8;

}

@media (max-width: 768px) {
  #typewriter {
    font-size: 2rem;
    min-height: 150px;
  }
}

@media (max-width: 800px) {
  #nav-menu,
  #check,
  .drop,
  .btn,
  .btn-p,
  #fortext p,
  #more a {
    font-size: 2vh;
  }

  #nav-menu {
    height: 3vh;
  }

  #promotion,
  #branch {
    padding-top: 8vh;
  }

  #branch-area {
    width: 70%;
  }

  h1 {
    font-size: 4vh;
  }

  h3 {
    font-size: 2.8vh;
  }

  .pic {
    width: 40vh;
    height: 30vh;
  }

  .item-pic{
    width: 40vh;
    height: 50vh;
  }

  .drop {
    width: auto;
  }

  #popup-bg {
    width: 60%;
  }
}

@media (max-width: 700px) {
  #mid {
    display: none;
  }
  #typewriter {
    min-height: 100px;
    margin-top: 60px;
  }
  #nav-menu,
  #check,
  .drop,
  .btn,
  .btn-p,
  #fortext p,
  #more a {
    font-size: 1.6vh;
  }
  h3 {
    font-size: 2.4vh;
  }

  #hid-drop {
    display: block;
    float: left;
    overflow: hidden;
  }

  #hid-drop-i {
    color: white;
  }

  #hid-drop-content {
    display: none;
    position: absolute;
    right: 8%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    z-index: 1000;
  }

  #hid-drop-content i {
    margin-right: 10px;
    margin-top: 10px;
  }

  #hid-drop-content a {
    float: none;
    color: #041728;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 400;
  }

  #hid-drop-content a:hover {
    color: #104b82;
  }

  #popup-ov2 {
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
    position: fixed;
    top: 0;
    visibility: hidden;
    /* opacity: 0; */
    z-index: 9;
  }
  #las {
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  #fis {
    width: 50%;
  }
  #check {
    /* margin-bottom: 5%; */
    width: 50%;
    height: 90%;
  }
  .btn {
    width: 100%;
  }
  .bottom {
    width: 100%;
  }
  .top {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .forsel {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    gap: 10px;
  }
  .guest {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .drop {
    width: 100%;
  }
  #select-branch {
    flex-direction: column;
    align-items: center;
  }
  #popup-bg {
    width: 80%;
  }
  #branch {
    height: 130vh;
  }
  #branch-area {
    height: 100px;
    padding: 15px;
    gap: 2vh;
  }
  #sel1,
  #sel2,
  #sel3,
  #sel4,
  #carchoose {
    width: 100%;
  }
  #car-regis{
    width: 95%;
    border-radius: 1.8vh;
  }
  #check-result table{
    font-size: 2vh;
  }
  .btn-pop{
    font-size: 2vh;
  }
}
@media (max-width: 450px) {
  #branch-area {
    flex-direction: column;
    height: 300px;
    width: 70%;
  }
  #branch {
    height: 200vh;
  }
  #forimg {
    height: 65%;
    width: 100%;
  }
  #fortext {
    height: 35%;
    width: 100%;
  }
  #typewriter {
    font-size: 1rem;
  }
  #check {
    width: 70%;
  }
  #check-result table{
    font-size: 1.5vh;
  }
  .btn-pop{
    font-size: 1.5vh;
    width: 10vh;
    height: 4vh;
  }
}
