*{
    font-family: "Prompt";
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #041728;
}
#nav{
    width: 100%;
    height: 14vh;
    display: flex;
    position: fixed;
    z-index: 10;
}
#nav-menu{
    background-color: #041728dc;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
    padding: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 2.5vh;
}
#nav-menu a{
    color: #ffffff;
    font-weight: 300;
    transition: ease-in-out 0.2s;
}
#nav-menu a:hover{
    text-shadow: 0px 0px 2px white;
}
#nav-menu p{
    color: #ffffff;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 200;
}
#fis{
    width: 10%;
    text-align: start;
}
#fis p{
    font-weight: 400;
    margin: 0;
}
#las{
    width: 10%;
    text-align: end;
}
#mid{
    display: flex;
}
#main{
    width: 100%;
    height: 100vh;
    background-image: url(./img/download.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
}
#check p{
    margin: 0;
}
#check{
    padding: 2vh;
    margin-bottom: 3%;
    width: 80%;
    height: auto;
    border-radius: 2vh;
    background-color: #041728a3;
    backdrop-filter: blur(10px);
    box-shadow: 2px 3px 6px #041728c3;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#forsel{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgba(255, 255, 255, 0.091);
    padding-top: 15px;
    padding-bottom: 5px;
    gap: 10px;
}
.drop{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.297);
    border-radius: 2vh;
    width: 35vh;
    padding: 1vh;
    color: white;
}
.btn{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.297);
    border-radius: 2vh;
    width: 15vh;
    padding: 1vh;
    color: white;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid white;
    color: #041728;
    background-color: white;
}
#promotion{
    width: 100%;
    height: auto;
    background-color: #F5F6F8;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#container{
    margin-bottom: 12vh;
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
}
.pic{
    background-image: url(img/download.jpg);
    background-size: cover;
    background-position: center;
    width: 60vh;
    height: 50vh;
    border-radius: 2vh;
    box-shadow: 2px 2px 7px #989898;
}
.pic:hover .overlay{
    visibility: visible;
    opacity: 1;
}
.overlay{
    background-color: #041728a3;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.2s;
}
.btn-p{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.297);
    border-radius: 2vh;
    width: auto;
    height: 6vh;
    padding: 1vh;
    color: white;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    margin: auto;
}
.btn-p:hover{
    border: 1px solid white;
    color: #041728;
    background-color: white;
}
#promotion h1{
    color: #041728;
}
#popup-ov{
    width: 100%;
    height: 100%;
    background-color: #04172871;
    backdrop-filter: blur(5px);
    z-index: 11;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.2s;

}
#popup-bg{
    background-color: #F5F6F8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 2vh;
    z-index: 12;
    padding: 2vh;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.2s;
}
#fori{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}
#bac{
    color: #041728;
    cursor: pointer;
}
#branch{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#branch h1{
    color: white;
}
#branch-area{
    background-color: #F5F6F8;
    width: 60%;
    height: 25%;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}
#forimg{
    background-image: url(img/download.jpg);
    background-size: cover;
    background-position: center;
    width: 40vh;
    height: 100%;
    border-radius: 2vh;
}
#branch-area h3{
    color: #041728;
    margin: 0;
}
#branch-area p{
    margin: 0;
    color: #B6B6B6;
    font-size: 2.5vh;
}
#fortext {
    height: 100%;
}